<h3>Dall-E</h3>

<form [formGroup]="openaiForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="prompt">
            Prompt
        </label>
        <input id="prompt" type="text" formControlName="prompt">
    </div>

    <div class="button-div">
        <button class="button" (click)="uploadImage()">Upload Image</button>
    
        <button class="button" type="submit">Search</button>
    </div>

</form>

<div *ngFor="let submittedPrompt of submittedPrompts; let i = index">
    <h2>{{submittedPrompts.length - i}}) Result for <em>{{submittedPrompt}}</em></h2>

    <img *ngFor="let imageResult of imageResults[i]" [src]="imageResult" alt="img">
</div>